= form_with url: messages_url, method: :post, class: 'd-flex' do |form|
  = form.text_area 'message[content]', class: 'post-input-field m-0 flex-grow-1'
  = form.submit 'Send', class: 'btn btn-primary btn-sm'